/* fonts family  */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* common utilities  */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    padding:1rem ;
}
.text-center{
    text-align: center;
}

.title{
    font-size: 4rem;
    font-weight: 900;
    line-height: 5rem;
    letter-spacing:.2rem;
    display: inline-block;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom , lightgreen,green);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    transition:all .4s linear;
}
.title:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}

/* keyframes start   */
@keyframes moveToRight {
    0%{
        transform: translateX(-50%);
        opacity:0;
    }
    75%{
        transform: translateX(2%);
        opacity:.9;
    }
    100%{
        transform: translateX(0);
        opacity:1;
    }
}
@keyframes moveToLeft {
    0%{
        transform: translateX(50%);
        opacity: 0;
    }
    75%{
        transform: translateX(-2%);
        opacity: .9;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveFromBottom {
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    75%{
        transform: translateY(-5%);
        opacity: .8;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/* keyframes end  */

/* header start  */
.header{
    width: 97vw;
    height: 97vh;
   background-image:linear-gradient(to right bottom,lightgreen,green), url(../img/hero.jpg);
   background-size: cover;
   background-position: center;
   background-blend-mode: soft-light;
   clip-path: polygon(0 0, 100% 0,100% 85%,0 100%);
   margin:auto;
}
.header__logo{
    position: absolute;
    top:4rem;
    left:4rem;
    width: 10vw;
    
}
.header__logo img{
    width: 5rem;
    height: 4rem;
}
.header__content{
    height: 100%;
    width: 100%;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__title{
    font-size: 9rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
    animation: moveToRight 1s linear ;
}
.header__text{
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    margin:2rem 0 5rem ;
    animation: moveToLeft 1s linear    ;
}
.btn-white:link,
.btn-white:visited{
    color:#777;
    font-size: 2rem;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 3rem;
    padding:2rem 4rem;
    background-color:#fff;
    border-radius: 10rem;
    position: relative;
    transition:all .2s;
    animation: moveFromBottom 1s linear  .75s  ;
    animation-fill-mode: backwards;
}
.btn-white::after{
    content:'';

    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}
.btn-white:hover{
    transform: translateY(-2px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.6);
}
.btn-white:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn-white:active{
    transform:translateY(2px);
    box-shadow: 0 .5rem 5rem rgba(0,0,0,0.1);
}
/* header end  */
/* about section start  */ 
.about{
    background-color: #eee;
    padding:20rem 0;
    margin: -12rem 0 10rem;

}
.about__content{
    display: flex;
    justify-content: space-evenly;
    margin:5rem 0;
}
.about__text{
    width:40%
}
.about__first{
   font-size: 1.5rem;
   line-height: 2.6rem;
   color:#777;
}
.about__first:not(:last-child){
    margin-bottom:3rem;
}
.about__title{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.about__para{
    font-size: inherit;
    text-align: justify;
}
.about__images{
    width: 40%;
   
}

.btn-green:link,
.btn-green:visited{
    display: inline-block;
    margin: 3rem 0; 
    font-size: 2rem;
    color:rgb(58, 233, 58);
    border-bottom:1px solid currentColor;
    padding:.5rem 0;
    transition:all .2s linear;
}
.btn-green:hover{
    color:#fff;
    border-bottom: none;
    background-color:rgb(58,233,58);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    transform:translateY(-3px);
}
.btn-green:active{
    transform:translateY(0);
    box-shadow: 0 .5rem 4rem rgba(0, 0, 0, 0.1);
}
.images{
    position:relative;
}
.first-image,
.second-image,
.third-image{
    position:absolute;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    transition:all .2s linear;
    outline-offset: 2rem;
}
.first-image{
  z-index: 222;
  top:1rem;
  left:1rem;
}
.second-image{
   z-index: 333;
   top:7rem;
   left:45%;
}
.third-image{
    z-index: 444;
    top:20rem;
    left:10%;
}
.first-image:hover,
.second-image:hover,
.third-image:hover{
    z-index:999;
    outline:2rem solid lightgreen;
    transform:scale(1.1);
}
.images:hover .image:not(:hover){
    transform:scale(.9)
}
/* about section end  */
/* features section start  */
  .section-features {
      padding:30rem 0;
      background-image: linear-gradient(to right bottom , rgba(144, 238, 144, 0.8),rgba(0, 128, 0, 0.8)) , url(../img/nat-4.jpg);
       background-size: cover;
       background-position: center;
       clip-path: polygon(0 20%,100% 0,100% 80%,0 100%);
       margin-top:-32rem;
  }
  .features{
      font-size:1.6rem;
      display:flex;
      justify-content:space-evenly;
      padding:5rem;
  }
  .feature__first{
      width:30rem;
      background-color: rgba(255, 255, 255, 0.7);
      padding:3rem;
      color:#777;
      border-radius: .5rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
      text-align: center;
      transition:all .2s linear;
  }
  .feature__first:hover{
      transform: translateY(-1rem);
      box-shadow: 0 1rem 5rem rgba(0, 0,0,0.3);
  }
  .feature__first *{
      margin:1rem 0;
  }
  .fa-globe{
      font-size:5rem;
      background-image: linear-gradient(to right bottom, lightgreen,green);
      -webkit-background-clip: text;
      background-clip: text;
      color:transparent;

  }
/* features section end  */
